@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_AdminLayout";
}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="page-heading">
   
    <h3>Welcome To Mazer Company Inventory Management</h3>
</div>
<div class="page-content">
    <section class="row">
        <img src="~/images/samples/LOGODASH.png" width="1200" height="400" alt="Alternate Text" />
    </section>
</div>
