@model IEnumerable<DataKategori>

@{
    Layout = "_AdminLayout";
}
<section class="section">
    <div class="card">
        <div class="card-header">
            <P>Data Kategori</P>
            <a asp-action="CreateKategori">Tambah</a>
        </div>

        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id_kategori)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Kategori)
                        </th>
                        
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id_kategori)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kategori)
                            </td>
                            
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
